In [18]:
"""
Create table Ordens(
id				int,
created_at       datetime,
customer_id   int,
status        nvarchar(255)
)

"""

'\nCreate table Ordens(\nid\t\t\t\tint,\ncreated_at       datetime,\ncustomer_id   int,\nstatus        nvarchar(255)\n)\n\n'

In [77]:

import pandas as pd
import pyodbc 

server = 'LETICIA' # Substitua pelo nome do servidor SQL Server
database = 'Python'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [78]:
dados = pd.read_excel(r"C:\Users\Leticia\Desktop\Python-Banco de Dados\Banco de dados\Origem\arquivos_excel\Ordens_base.xlsx")
#str(dados.columns).replace("'","") 
#dados.head(5)

In [79]:
str(dados.columns).replace("'" , "' ")

"Index([' id' , ' created_at' , ' customer_id' , ' pagamento' ], dtype=' object' )"

In [22]:
#cursor.execute('truncate table  [Ordens]')   #executa tarefa de  apagar dados
#cursor.commit()

In [23]:
str(dados.columns).replace("'","")  # coluna de origem

'Index([id, created_at, customer_id, pagamento], dtype=object)'

In [24]:

#print(dados['total_price'].dtype)
#dados['total_price'] = dados['total_price'].astype(float)

In [25]:
print(dados['id'].dtypes)
print(dados['created_at'].dtypes)
print(dados['customer_id'].dtypes)
print(dados['pagamento'].dtypes)

int64
datetime64[ns]
int64
object

In [26]:
#cursor.execute('delete from [Items]')   #executa tarefa de  apagar dados 
#cursor.commit()

In [27]:
#cursor.execute('delete from [Items]')   #executa tarefa de  apagar dados 
#cursor.commit()

In [28]:
dados

        id          created_at  customer_id           pagamento
0        0 2019-08-28 03:36:31           91            entregue
1        1 2019-08-16 20:21:30            7            entregue
2        2 2019-07-11 11:00:06           26  pagamento_pendente
3        3 2019-08-27 21:04:41           92  pagamento_pendente
4        4 2019-11-03 19:58:37           63    entrega_pendente
...    ...                 ...          ...                 ...
9995  9995 2020-01-28 03:55:43            0    entrega_pendente
9996  9996 2019-05-08 00:32:21           58            carrinho
9997  9997 2019-04-08 10:52:09            6            entregue
9998  9998 2019-04-18 02:11:43           50  pagamento_pendente
9999  9999 2020-01-18 08:41:52           54  pagamento_pendente

[10000 rows x 4 columns]

In [29]:
#deletar somente uma linha, para visualizar e somente no banco de dados
#cursor.execute('DELETE FROM Ordens_base WHERE id = 2')
#cursor.commit()

In [30]:
#deletar todos as colunas#
# uery = "ALTER TABLE Ordens_base DROP COLUMN id"
#cursor.execute(query)

In [31]:
#DF = dados.drop('id', axis=1)
#cursor.commit()

In [32]:
# Drop a column named 'Column1'
#dados.drop('id', axis=1, inplace=True)

In [33]:

dados

        id          created_at  customer_id           pagamento
0        0 2019-08-28 03:36:31           91            entregue
1        1 2019-08-16 20:21:30            7            entregue
2        2 2019-07-11 11:00:06           26  pagamento_pendente
3        3 2019-08-27 21:04:41           92  pagamento_pendente
4        4 2019-11-03 19:58:37           63    entrega_pendente
...    ...                 ...          ...                 ...
9995  9995 2020-01-28 03:55:43            0    entrega_pendente
9996  9996 2019-05-08 00:32:21           58            carrinho
9997  9997 2019-04-08 10:52:09            6            entregue
9998  9998 2019-04-18 02:11:43           50  pagamento_pendente
9999  9999 2020-01-18 08:41:52           54  pagamento_pendente

[10000 rows x 4 columns]

In [98]:
#Novos dados apos a coluna ID deletado
import pandas as pd
import pyodbc 

server = 'LETICIA' # Substitua pelo nome do servidor SQL Server
database = 'Python'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [99]:
dados = pd.read_excel(r"C:\Users\Leticia\Desktop\Python-Banco de Dados\Banco de dados\Origem\arquivos_excel\Ordens_base.xlsx")
str(dados.columns).replace("'","") 
dados.head(5)

   id          created_at  customer_id           pagamento
0   0 2019-08-28 03:36:31           91            entregue
1   1 2019-08-16 20:21:30            7            entregue
2   2 2019-07-11 11:00:06           26  pagamento_pendente
3   3 2019-08-27 21:04:41           92  pagamento_pendente
4   4 2019-11-03 19:58:37           63    entrega_pendente

In [100]:
cursor.execute('delete from [Ordens_base]')   #executa tarefa de  apagar dados 
cursor.commit()

In [72]:
#deletar uma coluna no banco de dados
#ALTER TABLE Ordens_base DROP COLUMN id;
# adicinei uma coluna direito no banco de dados que paguei acima 
#ALTER TABLE Ordens_base 
#ADD id VARCHAR(20) NULL, column_c INT NULL ;

In [71]:
#cursor.execute('delete from Ordens_base where column_c')

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Uma expressão de tipo não booleano especificada em um contexto no qual se espera uma condição, próximo a 'column_c'. (4145) (SQLExecDirectW)")

In [101]:
#inserção no banco de dados 
for index, linha in dados.iterrows():
    
    cursor.execute("Insert into [Ordens_base](id,created_at,customer_id,pagamento)values(?,?,?,?)",linha.id,linha.created_at,
                   linha.customer_id,linha.pagamento) 
     # inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit()   # validar dados no SQL Server
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao